<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Connect With Me</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Terrelle"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/terrelle-tettey-79b739168/"><i class="fab fa-fw fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
</div>