{% extends "index.html" %}

{% block content %}
<body id="page-top">
    {% include "./navbar.html" %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <div class="divider-custom-icon"><i class="fas fa-rss fa-3x"></i></div>
            
        </div>
    </header>
 <!-- Timeline Section-->
 <section class="page-section portfolio" id="timeline">
    <div class="container">
        <!-- Timeline Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome To My Timeline</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-pen"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <form id="timeline-post-form" action="/api/timeline_post" method="post" enctype="multipart/form-data">
            <input class="form-control" type="text" id="name" name="name" placeholder="Your Name"><br>
          
            <input class="form-control" type="text" id="email" name="email" placeholder="Your Email"><br>
            
          
            <textarea class="form-control" id="content" name="content" placeholder="Description of Post"></textarea><br>
          
            <button class="btn btn-primary btn-xl text-uppercase" value="submit" id="submit" type="submit">Add Post</button>
          </form>    
      
        <!--List of posts--> 
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Timeline Posts</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-feed"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div id="timeline-posts-container"></div>
            
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>   
        </div>
    </div>
</section>
{% include "./footer.html" %}
 
{% endblock %}
